      <% @start = true if @start.nil? %>

     <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <% if @start %>
       <li><a href="<%= app_url(@app) %>"><b class="icon-play"></b> Start </a></li>
      <% end %>

      <li>
        <a  href="/apps/new?copyof=<%= @app.id %>"><b class="icon-random"></b> Remix </a>
      </li>
     <!-- <li><a tabindex="-1" href="#embed_app_<%= @app.id %>" role="button" class="btn" data-toggle="modal" data-target="#embed_app_<%= @app.id %>"><b class="icon-share"></b> Embed / Share </a></li> -->
      <li><a tabindex="-1" href="<%= stats_app_url(@app) %>"><b class="icon-signal"></b> Stats </a></li>
      <li class="divider"></li>
      <li>
        <a href="<%= source_app_url(@app) %>" target="_blank" target="_blank"><b class="icon-file"></b> Source code </a>
      </li>
      <li class="divider"></li>
      <li>
        <a  target="_blank" href="<%= @app.challenges_table_url %>"><b class="icon-hdd"></b>Challenges Data  </a>
      </li>
      <li>
        <a target="_blank" href="<%= @app.answers_table_url %>"><b class="icon-hdd"></b>  Answers Data </a>
      </li>
      <% if @app.user == current_user %>
      <li class="divider"></li>
      <li>
        <a href="<%= edit_app_url(@app) %>"> <b class="icon-wrench"></b>Admin </a>
      </li>
      <% end %>
     </ul>

<!--
   <div id="embed_app_<%= @app.id %>" class="modal fade hide in" role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
    <div class="modal-header">
        <a href="#" class="close-button close" data-dismiss="modal">×</a><h3>Embed Crowdsourcin app </h3>
    </div>
    <div class="modal-body">
        <div class="share-url-picker">
            <div class="row share-url-row">
                <div class="inputs">
                    <p class="share-url-description">
                        Copy and paste this code into your blog or website to embed the app
                    </p>
                    <textarea class="share-embed-code" readonly="readonly"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" style="text-align: right;">
        <input id="close-share-embed" type="button" class="simple-button" value="Close">
    </div>

</div>  -->